<!-- Type in the following code and save it in the file "book2.html" inside the folder "templates" 
-->
<html>
<!-- Type in the following code and save it in the file "Titles.html" inside the folder "templates" -->
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">
	    
	    <script>
              /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
              function myFunction(name) {
                  document.getElementById(name).classList.toggle("show");
              }
              // Close the dropdown menu if the user clicks outside of it
              window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                      var dropdowns = document.getElementsByClassName("dropdown-content");
                      var i;
                      for (i = 0; i < dropdowns.length; i++) {
                          var openDropdown = dropdowns[i];
                          if (openDropdown.classList.contains('show')) {
                              openDropdown.classList.remove('show');
                          }
                      }
                  }
              }
        </script>

	    <title>BOOKS</title>
	    
	    <!-- Bootstrap core CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    		<a class="navbar-brand" href="{{url_for('index')}}">IBDB</a>
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>

      		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-4">
		          <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
          		  </li>
          		  <li class="nav-item active">
            		<a class="nav-link" href="{{url_for('Titles')}}">Books<span class="sr-only">(current)</span></a>
          		  </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Authors')}}">Authors</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Publishers')}}">Publishers</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('About')}}">About</a>
		          </li>
		        </ul>
      		</div>
    	</nav>
		<h1>Books</h1>
       
    
    	<table  BORDER="2"; align = "center">
			<tr>                <!-- table title should be insides <tr> </tr> tags -->
				<th COLSPAN="9"> 
			 	<h2>Table of Books</h2>
				</th>
			</tr>
			<col width = "350">
			<col width = "200">
			<col width = "200">
			<col width = "125">
			<col width = "150">
			<col width = "150">
			<tr> 
		  		<th>Title
                <div class="dropdown" style="position: relative; top: -4px; left: 264px; width:264px; height: 0px;">
                    <link rel="stylesheet" href="{{url_for('dropdown')}}">
                    <button onclick="myFunction('myDropdown1')" class="dropbtn">Sort</button>
                    <div id="myDropdown1" class="dropdown-content">
                      <a href="#">Ascending</a>
                      <a href="#">Descending</a>
                    </div>
                </div>
                </th>  
		  		<th>Author
		  		<div class="dropdown" style="position: relative; top: -4px; left: 95px; width:95px; height: 0px;">
                    <link rel="stylesheet" href="{{url_for('dropdown')}}">
                    <button onclick="myFunction('myDropdown2')" class="dropbtn">Sort</button>
                    <div id="myDropdown2" class="dropdown-content">
                      <a href="#">Ascending</a>
                      <a href="#">Descending</a>
                    </div>
                </div>
                </th>
		  		<th>Publisher
		  		<div class="dropdown" style="position: relative; top: -4px; left: 75px; width:75px; height: 0px;">
                    <link rel="stylesheet" href="{{url_for('dropdown')}}">
                    <button onclick="myFunction('myDropdown3')" class="dropbtn">Sort</button>
                    <div id="myDropdown3" class="dropdown-content">
                      <a href="#">Ascending</a>
                      <a href="#">Descending</a>
                    </div>
                </div>
                </th>
		  		<th>Publication Date</th>
		  		<th>ISBN</th>
		  		<th>Google ID</th>
			</tr> 
			{% if books == [] %}
				<p>No books exist</p>	
			{% else %}
				{% for i in books %}
					 
						<tr>
							<th><a href="{{url_for('BookDetails', BookName = i.booknum)}}">{{i.title}}</a> </th>
		  					<th><a href="{{url_for('AuthorDetails', AuthorName = i.authornum)}}">{{i.author}}</a></th>
		  					<th><a href="{{url_for('PublisherDetails', PublisherName = i.publishernum)}}">{{i.publisher}}</a></th>
		  					<th>{{i.publication_date}}</th>
		  					<th>{{i.isbn}}</th>
		  					<th>{{i.google_id}}</th>
						</tr>
						
				{% endfor %}
			{% endif %}
		</table>
		<br/>
    	<hr />
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>
<!-- end of book2.html -->