<!-- Type in the following code and save it in the file "book.html" inside the folder "templates" -->

<html>
    <title>ABOUT</title>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">

	    <title>ABOUT</title>
	    

	    <!-- Bootstrap core CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
    
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    		<a class="navbar-brand" href="{{url_for('index')}}">IBDB</a>
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>

      		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-4">
		          <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
          		  </li>
          		  <li class="nav-item">
            		<a class="nav-link" href="{{url_for('Titles')}}">Books</a>
          		  </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Authors')}}">Authors</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Publishers')}}">Publishers</a>
		          </li>
		          <li class="nav-item active">
		            <a class="nav-link" href="{{url_for('About')}}">About<span class="sr-only">(current)</span></a>
		          </li>
		        </ul>
      		</div>
    	</nav>
	    <span style="display:block; height: 100;"></span>
        <center><b><h1>ABOUT</h1></b><br>
           
           <!-- Team members introduction below -->
            <h2>Meet The Team</h2>
	    <span style="display:block; height: 50;"></span>
	    <center><img src="https://imgur.com/uv48dwR.jpg" alt="Candice" width="300" height="300">
            <span style="display:inline-block; width: 100;"></span>
	    <img src="https://imgur.com/GEdRI4x.jpg" alt="Elizabeth" width="300" height="300">
       <br></center>
        <b>CANDICE CHEN</b><span style="display:inline-block; width: 270;"></span><b>ELIZABETH DELANEY</b>
            <center><div style="position: relative; top:10px;left:-210px; width: 300px; height: 300px;">Candice Chen was born in Guangzhou, China, and had lived there for 15 years prior to moving to the United States. Currently, she’s pursuing a Biochemistry, B.S. degree in the University of Texas at Austin. Her specialty is bioinformatics and other computational applications in the biotechnology field. In addition, Candice has been a devoted advocator of animal welfare, who strongly believes in abolishing animal testings.<br><br><i>Major Responsibility: Set up About Page</i><br><br><i>Commits:32; issues:8; unit tests:2;</i></div><span style="display:inline-block; width: 270;"></span><div style="position: relative; top: -290px; left: 210px; width: 300px; height: 300px;">Elizabeth Delaney was born and raised in Houston, Texas. She is currently attending the University of Texas at Austin as a Mechanical Engineering student and plans to graduate in the Spring of 2019. After college, Elizabeth plans to work as an MEP engineer. Elizabeth enjoys making music, reading a book with her cat, and hanging out with friends.<br><br><br><i>Major Responsibility: Set up model page and their instances</i><br><br><i>Commits:22; issues:28; unit tests:3;</i></div></center>
            
        
	    
	   
	    
	    
	    <center><img src="https://imgur.com/TRfG8Tc.jpg" alt="Justin" width="300" height="300">
	    <span style="display:inline-block; width: 100;"></span>
	    <img src="https://imgur.com/2jNnV4g.jpg" alt="Cole" width="300" height="300"><br>
	    <b>JUSTIN DUNLAP</b><span style="display:inline-block; width: 280;"></span><b>COLE FORSYTHE</b> 
	    <center><div style="position: relative; top: 20px; left: -210px; width: 300px; height: 300px;">Justin Dunlap is an Austin native and is currently a senior at the University of Texas at Austin studying Music Performance. He is heavily involved in the Austin music scene with his band, Big Wy's Brass Band, and he has performed at events such as South by Southwest, Formula 1 Circuit of the Americas, and at international festivals in Guatemala and Costa Rica. In addition to class and his musical pursuits, Justin interns as an Automation Engineer at Rivet Networks, and he plans on continuing his work there upon graduation.<br><br><i>Major Responsibility: Navigation Bar, splash page</i><br><br><i>Commits:16; issues:6; unit tests:3;</i></div>
            
                <div style="position: relative; top: -280px; left: 200px; width: 300px; height: 300px;">"I am a senior at the University of Texas at Austin studying mechanical engineering. In addition to my studies I am captain of UT’s Solar Vehicle team, where I’m currently overseeing the manufacturing of our new vehicle. Beyond that, I’ve had two internships with Lockheed Martin and will be returning to work full time next summer."<br><br><i>Major Responsibility: GCP Organization, report writting</i><br><br><i>Commits:19; issues:1; unit tests:7;</i></div>
            
	    
	    
	    <center><img src="https://imgur.com/erpByhc.jpg" alt="Coby" width="300" height="300"><br>
            <b>COBY TALLEY</b>
            <div style="position: relative; top: 20px; left: 0px; width: 300px; height: 300px;">"I am a highly-motivated individual who's passionate about building teams and investing in people. I bring energy, intellectual curiosity, and leadership to the workplace. I enjoy working with emerging technologies in finance such as block chain and algorithm trading. Some of my greatest achievements include walking on to the University of Texas baseball team and leading the implementation of a new marketing and sales software for a software development firm."<br><br><i>Major Responsibility: Writing the reports, UI/UX of About Page, Structure and Process Assistance</i><br><br><i>Commits:10; issues:5; unit tests:1;</i></div>
	    
        
	    <!-- Stats below -->
	    <span style="display:block; height: 600;"></span>
	    <center><h2>Stats</h2>
            <span style="display:block; height: 100;"></span>
            <center><h1 style="color: lightblue; font-size:64px">100<span style="display:inline-block; width: 360;"></span>48<span style="display:inline-block; width: 360;"></span>16</h1>
            <center><h1 style="color: lightblue; font-size:32px">Total Commits<span style="display:inline-block; width: 250;"></span>Total Issues<span style="display:inline-block; width: 250;"></span>Total Unit Tests</h1>
                </center><br>
                
        <!-- links to gitlab -->
        <span style="display:block; height: 50;"></span>
        <a href="https://gitlab.com/dustincforsythe/cs329e-idb.git">Gitlab Repo</a> <br><br>
	    <a href="https://gitlab.com/dustincforsythe/cs329e-idb/issues">Issue Tracker</a> <br><br>
	   <a href="https://gitlab.com/dustincforsythe/cs329e-idb/wikis/home">Gitlab Wiki</a> <br><br>
	    
	     <!-- Links to data listed below -->
	    <span style="display:block; height: 200;"></span>
                <h2>Data</h2><br>
                <a href=http://www.cs.utexas.edu/~fares/cs329ef18/CS%20373_files/tutorials/books.json>Books</a><br>
                <a href="https://speakerdeck.com/dustincforsythe/dream-team-ibdb-dot-me">IBDB.me Presentation</a>
                
        <!-- List of tools listed below -->      
        <span style="display:block; height: 200;"></span>
        <h2>Tools</h2><br>
                <a href=http://getbootstrap.com>Bootstrap</a><br>
                <a href=http://flask.pocoo.org>Flask</a><br>
                <a href=https://www.git-scm.com>Git</a><br>
                <a href=https://gitlab.com>Gitlab</a><br>
                <a href=https://cloud.google.com/?>Google Cloud Platform (GCP)</a><br>
                <a href=https://slack.com>Slack</a><br>
                
                
        <br>
        <br>
                                
        <a href="{{url_for('test')}}">Run Unit Tests</a><br>
	    
	    <!-- link back to main menu -->
	    <span style="display:block; height: 500;"></span>
		<a href="{{url_for('index')}}">Main Menu</a> <br><br>
 
 		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  	</body>
</html>
