<!-- Type in the following code and save it in the file "JKRowling.html" inside the folder "templates" -->

<html>
	
			<head>
				<h1>{{i.author}}</h1>


			</head>
			<body>
				<center><img src="{{i.image_url}}" alt="{{i.author}}"> 
				<p><center><b>Notable Work:</b> <a href="{{url_for('BookDetails', BookName = i.booknum)}}">{{i.title}}</a><br/>
				<b>Notable Publisher:</b> <a href="{{url_for('PublisherDetails', PublisherName = i.publishernum)}}">{{i.publisher}}</a><br/>
				<b>Born:</b> {{i.born}}<br/>
				<b>Died:</b> {{i.died}}<br/>
				<b>Nationality:</b> {{i.nationality}} <br/>
				<b>Education:</b> {{i.education}} <br/>
				<b>Alma Mater:</b> {{i.alma_mater}}<br/>
				<b>Biography:</b> {{i.description}}<br/>
				<a href="{{i.wikipedia_page}}">Wikipedia Page</a></center></b>
        		<hr/>
				<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
			</body>	
		
</html>
 <!-- end of JKRowling.html -->


