<!-- Type in the following code and save it in the file "BantamSpectra.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>Bantam Spectra</h1>
		<p><center><b>Title:</b> <a href="{{url_for('Foundation')}}">Foundation</a> <br/><b>Author:</b> <a href="{{url_for('IsaacAsimov')}}">Isaac Asimov</a><br/>
		<b>Parent Company:</b> Bantam Books/Random House<br/>
		<b>Location:</b> New York City, New York <br/>
		<b>Description:</b> Bantam Spectra is the science-fiction division of Bantam Books, which is owned by Random House. According to their website, Spectra publishes "science-fiction, fantasy, horror, and speculative novels from recognizable authors."<br/>
		<a href="https://en.wikipedia.org/wiki/Bantam_Spectra">Wikipedia Page</a><br/>
		<a href="http://sf-fantasy.suvudu.com">Website</a></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of BantamSpectra.html -->

