<!-- Type in the following code and save it in the file "Foundation.html" inside the folder "templates" -->

<html>
	<!-- Type in the following code and save it in the file "JKRowling.html" inside the folder "templates" -->

<html>
			<head>
				<h1>{{i.title}}</h1>
				{% if i.subtitle != 'N/A' %}
					<h2>{{i.subtitle}}</h2>
				{% endif %}
			</head>
			<body>
				<center><img src="{{i.image_url}}" alt="{{i.title}}"> 
				<p><center><b>Author:</b> <a href="{{url_for('AuthorDetails', AuthorName = i.authornum)}}">{{i.author}}</a><br/>
				<b>Publisher for Book:</b> <a href="{{url_for('PublisherDetails', PublisherName = i.publishernum)}}">{{i.publisher}}</a><br/>
				<b>Publication Date:</b> {{i.publication_date}}<br/>
				<b>ISBN:</b> {{i.isbn}}<br/>
				<b>Google_ID:</b> {{i.google_id}} <br/>
				<b>Summary:</b> {{i.description}} <br/>
        		<hr/>
				<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
			</body>	
</html>
 <!-- end of JKRowling.html -->
