<!-- Type in the following code and save it in the file "DelReyBooks.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>Del Rey Books</h1>
		<center><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Del_Rey_logo.png/150px-Del_Rey_logo.png" alt="Del Rey Books"> 
		<p><center><b>Title:</b> <a href="{{url_for('TheRestaurantattheEndoftheUniverse')}}">The Restaurant at the End of the Universe</a> <br/><b>Author:</b> <a href="{{url_for('DouglasAdams')}}">Douglas Adams</a><br/>
		<b>Parent Company:</b> Random House <br/>
		<b>Owner:</b> Penguin Random House <br/>
		<b>Founded:</b> 1977 <br/>
		<b>Description:</b> Del Rey Books is a branch of Ballantine Books, which is owned by Random House and, in turn, by Penguin Random House. It is a separate imprint established in 1977 under the editorship of author Lester del Rey and his wife Judy-Lynn del Rey.<br/>
		<a href="https://en.wikipedia.org/wiki/Del_Rey_Books">Wikipedia Page</a><br/>
		<a href="http://sf-fantasy.suvudu.com">Website</a></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of DelReyBooks.html -->

