<!-- Type in the following code and save it in the file "DouglasAdams.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>Douglas Adams</h1>
		<center><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Douglas_adams_portrait_cropped.jpg/220px-Douglas_adams_portrait_cropped.jpg" alt="Douglas Adams"> 
		<p><center><b>Title:</b> <a href="{{url_for('TheRestaurantattheEndoftheUniverse')}}">The Restaurant at the End of the Universe</a> <br/><b>Publisher:</b> <a href="{{url_for('DelReyBooks')}}">Del Rey Books</a><br/>
		<b>Born:</b> 03/11/1952 <br/>
		<b>Died:</b> 05/11/2001 <br/>
		<b>Alma Mater:</b> St John's College, Cambridge <br/>
		<b>Biography:</b> Douglas Noel Adams was an English author, scriptwriter, essayist, humorist, satirist and dramatist.\nAdams is best known as the author of The Hitchhiker's Guide to the Galaxy, which originated in 1978 as a BBC radio comedy before developing into a "trilogy" of five books that sold more than 15 million copies in his lifetime and generated a television series, several stage plays, comics, a computer game, and in 2005 a feature film.<br/>
		<a href="https://en.wikipedia.org/wiki/Douglas_Adams">Wikipedia Page</a></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of DouglasAdams.html -->

