<!-- Type in the following code and save it in the file "Foundation.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>Foundation</h1>
		<center><img src="https://books.google.com/books/content/images/frontcover/IwywDY4P6gsC?fife=w500" alt="Foundation"> 
		<p><center><b>Author:</b> <a href="{{url_for('IsaacAsimov')}}">Isaac Asimov</a> </center>
		<b>Publisher:</b> <a href="{{url_for('BantamSpectra')}}">Bantam Spectra</a> <br/>
		<b>Publication Date:</b> 06/01/2004 <br/>
		<b>ISBN:</b> 055390034X <br/>
		<b>Google ID:</b> IwywDY4P6gsC <br/>
		<b>Description:</b> For twelve thousand years the Galactic Empire has ruled supreme. Now it is dying. But only Hari Sheldon, creator of the revolutionary science of psychohistory, can see into the future--to a dark age of ignorance, barbarism, and warfare that will last thirty thousand years. To preserve knowledge and save mankind, Seldon gathers the best minds in the Empire--both scientists and scholars--and brings them to a bleak planet at the edge of the Galaxy to serve as a beacon of hope for a fututre generations. He calls his sanctuary the Foundation. But soon the fledgling Foundation finds itself at the mercy of corrupt warlords rising in the wake of the receding Empire. Mankind's last best hope is faced with an agonizing choice: submit to the barbarians and be overrun--or fight them and be destroyed. <br/></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of Foundation.html -->
