<!-- Type in the following code and save it in the file "HarryPotterandtheSorcerersStone.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>Harry Potter and the Sorcerer's Stone</h1>
		<center><img src="https://books.google.com/books/content/images/frontcover/wrOQLV6xB-wC?fife=w500" alt="Harry Potter and the Sorcerer's Stone"> 
		<p><center><b>Author:</b> <a href="{{url_for('JKRowling')}}">J. K. Rowling</a><br/><b>Publisher:</b> <a href="{{url_for('Pottermore')}}">Pottermore</a><br/>
		<b>Publication Date:</b> 12/08/2015 <br/>
		<b>ISBN:</b> 9781781100486 <br/>
		<b>Google ID:</b> wrOQLV6xB-wC <br/>
		<b>Description:</b> "Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." <br/>Harry Potter has never even heard of Hogwarts when the letters start dropping on the doormat at number four, Privet Drive. Addressed in green ink on yellowish parchment with a purple seal, they are swiftly confiscated by his grisly aunt and uncle. Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called Rubeus Hagrid bursts in with some astonishing news: Harry Potter is a wizard, and he has a place at Hogwarts School of Witchcraft and Wizardry. An incredible adventure is about to begin!
        <br/></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of HarryPotterandtheSorcerersStone.html -->
