<!-- Type in the following code and save it in the file "IsaacAsimov.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>Isaac Asimov</h1>
		<center><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Isaac.Asimov01.jpg/220px-Isaac.Asimov01.jpg" alt="Isaac Asimov"> 
		<p><center><b>Title:</b> <a href="{{url_for('Foundation')}}">Foundation</a><br/><b>Publisher:</b> <a href="{{url_for('BantamSpectra')}}">Bantam Spectra</a><br/>
		<b>Born:</b> Isaak Ozimov <br/>Between October 4, 1919 and January 2, 1920 <br/> Petrovichi, Russian SFSR<br/>
		<b>Died:</b> 04/06/1992 <br/>
		<b>Nationality:</b> Russian (early years), American <br/>
		<b>Education:</b> PhD in Biochemistry, 1948 <br/>
		<b>Alma Mater:</b> Columbia University <br/>
		<b>Biography:</b> Isaac Asimov was an American author and professor of biochemistry at Boston University. He was known for his works of science fiction and popular science.<br/>
		<a href="https://en.wikipedia.org/wiki/Isaac_Asimov">Wikipedia Page</a></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of IsaacAsimov.html -->

