<!-- Type in the following code and save it in the file "JKRowling.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>J. K. Rowling</h1>
		<center><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg" alt="J. K. Rowling"> 
		<p><center><b>Title:</b> <a href="{{url_for('HarryPotterandtheSorcerersStone')}}">Harry Potter and the Sorcerer's Stone</a><br/><b>Publisher:</b> <a href="{{url_for('Pottermore')}}">Pottermore</a><br/>
		<b>Born:</b> 07/31/1965<br/>
		<b>Nationality:</b> British <br/>
		<b>Education:</b> Bachelor of Arts <br/>
		<b>Alma Mater:</b> University of Exeter<br/>
		<b>Biography:</b> Joanne "Jo" Rowling, OBE, FRSL, pen names J. K. Rowling and Robert Galbraith, is a British novelist, screenwriter and film producer best known as the author of the Harry Potter fantasy series.<br/>
		<a href="https://en.wikipedia.org/wiki/J._K._Rowling">Wikipedia Page</a></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of JKRowling.html -->


