<!-- Type in the following code and save it in the file "Pottermore.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>Pottermore</h1>
		<center><img src="http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png" alt="Pottermore"> 
		<p><center><b>Title:</b> <a href="{{url_for('HarryPotterandtheSorcerersStone')}}">Harry Potter and the Sorcerer's Stone</a> <br/><b>Author:</b> <a href="{{url_for('JKRowling')}}">J. K. Rowling</a><br/>
		<b>Owner:</b> J. K. Rowling <br/>
		<b>Description:</b> Pottermore is the digital publishing, e-commerce, entertainment, and news company from J.K. Rowling and is the global digital publisher of Harry Potter and J.K. Rowling's Wizarding World.<br/>
		<a href="https://en.wikipedia.org/wiki/Pottermore">Wikipedia Page</a><br/>
		<a href="http://www.pottermore.com\nshop.pottermore.com">Website</a></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of Pottermore.html -->

