<!-- Type in the following code and save it in the file "JKRowling.html" inside the folder "templates" -->

<html>
			<head>
				<h1>{{i.publisher}}</h1>
			</head>
			<body>
				<center><img src="{{i.image_url}}" alt="{{i.publisher}}"> 
				<p><center><b>Notable Title:</b> <a href="{{url_for('BookDetails', BookName = i.booknum)}}">{{i.title}}</a><br/><b>Notable Author:</b> <a href="{{url_for('AuthorDetails', AuthorName = i.authornum)}}">{{i.author}}</a><br/>
				<b>Parent Company:</b> {{i.parent_company}}<br/>
				<b>Owner:</b> {{i.owner}}<br/>
				<b>Location:</b> {{i.location}} <br/>
				<b>Founded:</b> {{i.founded}} <br/>
				<b>About:</b> {{i.description}}<br/>
				<a href="{{i.wikipedia_page_}}">Wikipedia Page</a></center></b>
				<a href="{{i.website}}">Website</a></center></b>
        		<hr/>
				<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
			</body>	
</html>
 <!-- end of JKRowling.html -->