<!-- Type in the following code and save it in the file "Publishers.html" inside the folder "templates" -->

<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">

	    <title>PUBLISHERS</title>
	    

	    <!-- Bootstrap core CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    		<a class="navbar-brand" href="{{url_for('index')}}">IBDB</a>
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>

      		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-4">
		          <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
          		  </li>
          		  <li class="nav-item">
            		<a class="nav-link" href="{{url_for('Titles')}}">Books</a>
          		  </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Authors')}}">Authors</a>
		          </li>
		          <li class="nav-item active">
		            <a class="nav-link" href="{{url_for('Publishers')}}">Publishers<span class="sr-only">(current)</span></a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('About')}}">About</a>
		          </li>
		        </ul>
      		</div>
    	</nav>
		<h1>Publishers</h1>

    	<table  BORDER="2"; align = "center">
			<tr>                <!-- table title should be insides <tr> </tr> tags -->
				<th COLSPAN="9"> 
			 	<h2>Table of Publishers</h2>
				</th>
			</tr>
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<col width = "300">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<tr> 
		  		<th>Publisher</th>  
		  		<th>Parent Company</th>
		  		<th>Location</th>
		  		<th>Founded</th>
		  		<th>Title</th>
		  		<th>Author</th>
		  		<th>Wikipedia Page</th>
			</tr> 
			<tr>
		  		<th><a href="{{url_for('BantamSpectra')}}">Bantam Spectra</a></th>
		  		<th>Bantam Books/Random House</th>
		  		<th>New York City, New York</th>
		  		<th>Not Given</th>
		  		<th><a href="{{url_for('Foundation')}}">Foundation</a> </th>
		  		<th><a href="{{url_for('IsaacAsimov')}}">Isaac Asimov</a></th>
		  		<th><a href="https://en.wikipedia.org/wiki/Bantam_Spectra">Bantam Spectra</a></th>
			</tr>
			<tr>
				<th><a href="{{url_for('DelReyBooks')}}">Del Rey Books</a></th>
				<th>Random House</th>
		  		<th>Not Given</th>
		  		<th>1977</th>
		  		<th><a href="{{url_for('TheRestaurantattheEndoftheUniverse')}}">The Restaurant at the End of the Universe</a> </th>
		  		<th><a href="{{url_for('DouglasAdams')}}">Douglas Adams</a></th>
		  		<th><a href="https://en.wikipedia.org/wiki/Del_Rey_Books">Del Rey Books</a></th>
			</tr>   
			
		
			<tr>     
				<th><a href="{{url_for('Pottermore')}}">Pottermore</a></th>
				<th>Not Given</th>
		  		<th>Not Given</th>
		  		<th>Not Given</th>
		  		<th><a href="{{url_for('HarryPotterandtheSorcerersStone')}}">Harry Potter and the Sorcerer's Stone</a> </th>
		  		<th><a href="{{url_for('JKRowling')}}">J. K. Rowling</a></th> 
		  		<th><a href="http://www.pottermore.com\nshop.pottermore.com">Pottermore</a></th>
			</tr>

		</table>
		<br/>
    	<hr />.
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('About')}}">About</a></center><br/>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  	</body>
</html>
 <!-- end of Authors.html -->
