<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>IBDB</title>
    <style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg-image {
        /* The image used */
        background-image: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c4b5fcc53abd6158286dc86a9be4bee&auto=format&fit=crop&w=1500&q=80");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- page specific CSS -->
    <link href="splash.css" rel="stylesheet">
  </head>

  <body class="text-center bg-image">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header style="Margin-bottom: 150px;">
        <div class="inner">
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{{url_for('index')}}">IBDB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-4">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('Titles')}}">Books</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('Authors')}}">Authors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('Publishers')}}">Publishers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('About')}}">About</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading" style="margin-top: 10%;">Welcome to IBDB</h1>
        <p class="lead" style="margin-right: 20%; margin-left: 15%">IBDB is the world's leading book database. Check out our wide array of books, publishers, and Authors. Please enjoy and happy reading!</p>
        <p class="lead">
          <a class="btn btn-lg btn-secondary" href="{{url_for('book')}}">Check out our books!</a>
        </p>
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>