<html>
    <title>unit tests results</title>
	<head>
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">

	    <!-- Bootstrap core CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
   
    
	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    		<a class="navbar-brand" href="{{url_for('index')}}">IBDB</a>
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>

      		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-4">
		          <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
          		  </li>
          		  <li class="nav-item">
            		<a class="nav-link" href="{{url_for('Titles')}}">Books</a>
          		  </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Authors')}}">Authors</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Publishers')}}">Publishers</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('About')}}">About</a>
		          </li>
		        </ul>
      		</div>
    	</nav>
        <span style="display:block; height: 100;"></span>

        <center><b><h1>Test Results</h1></b><br>
        </center>
        
        <center>
        {% for line in output.split("<br>") %}
            {% if line!="<br>" %}
                {{ line }}
            {% endif %}
            <br>
        {% endfor %}
        </center>
        
         <!-- link back to main menu -->
	    <span style="display:block; height: 500;"></span>
        <center><a href="{{url_for('index')}}">Main Menu</a></center> <br><br>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
    	
    </body>
</html>