<!-- Type in the following code and save it in the file "TheRestaurantattheEndoftheUniverse.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<h1>The Restaurant at the End of the Universe</h1>
		<center><img src="https://books.google.com/books/content/images/frontcover/DQ-wif7eBJoC?fife=w500" alt="The Restaurant at the End of the Universe"> 
		<p><center><b>Author:</b> <a href="{{url_for('DouglasAdams')}}">Douglas Adams</a> </center>
		<b>Publisher:</b> <a href="{{url_for('DelReyBooks')}}">Del Rey Books</a> <br/>
		<b>Publication Date:</b> 12/24/2008 <br/>
		<b>ISBN:</b> 0307497569 <br/>
		<b>Google ID:</b> DQ-wif7eBJoC <br/>
		<b>Description:</b> "DOUGLAS ADAMS IS A TERRIFIC SATIRIST." --The Washington Post Book World </br>Facing annihilation at the hands of the warlike Vogons is a curious time to have a craving for tea. It could only happen to the cosmically displaced Arthur Dent and his curious comrades in arms as they hurtle across space powered by pure improbability--and desperately in search of a place to eat. Among Arthur's motley shipmates are Ford Prefect, a longtime friend and expert contributor to the Hitchhiker's Guide to the Galaxy; Zaphod Beeblebrox, the three-armed, two-headed ex-president of the galaxy; Tricia McMillan, a fellow Earth refugee who's gone native (her name is Trillian now); and Marvin, the moody android who suffers nothing and no one very gladly. Their destination? The ultimate hot spot for an evening of apocalyptic entertainment and fine dining, where the food (literally) speaks for itself. Will they make it? The answer: hard to say. But bear in mind that the Hitchhiker's Guide deleted the term "Future Perfect" from its pages, since it was discovered not to be! <br/>"What's such fun is how amusing the galaxy looks through Adams' sardonically silly eyes." --Detroit Free Press From the Paperback edition.<br/></center></b>
        <hr/>
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Titles')}}">Books</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
	</body>
</html>
 <!-- end of TheRestaurantattheEndoftheUniverse.html -->
