<!-- Type in the following code and save it in the file "book2.html" inside the folder "templates" 
-->
<html>
<!-- Type in the following code and save it in the file "Titles.html" inside the folder "templates" -->
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">
	    
	    <!-- Bootstrap core CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    		<a class="navbar-brand" href="{{url_for('index')}}">IBDB</a>
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>

      		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-4">
		          <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
          		  </li>
          		  <li class="nav-item active">
            		<a class="nav-link" href="{{url_for('Titles')}}">Books<span class="sr-only">(current)</span></a>
          		  </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Authors')}}">Authors</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Publishers')}}">Publishers</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('About')}}">About</a>
		          </li>
		        </ul>
      		</div>
    	</nav>
    <div style="margin-right: 5%; margin-left: 5%; text-align: center;">
      <h3>Books</h3>
      <table style="Margin: 20px 20px;" BORDER="2"; align = "center"; class="datatable table table-striped table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Publication Date</th>
            <th>ISBN</th>
            <th>Google ID</th>
          </tr>
        </thead>
        <tbody>
  			{% if books == [] %}
          <tr>
            <th>No books exist</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
  			{% else %}
  				{% for i in books %}
  					<tr>
  						<th><a href="{{url_for('BookDetails', BookName = i.booknum)}}">{{i.title}}</a> </th>
    					<th><a href="{{url_for('AuthorDetails', AuthorName = i.authornum)}}">{{i.author}}</a></th>
    					<th><a href="{{url_for('PublisherDetails', PublisherName = i.publishernum)}}">{{i.publisher}}</a></th>
    					<th>{{i.publication_date}}</th>
    					<th>{{i.isbn}}</th>
    					<th>{{i.google_id}}</th>
  					</tr>
  				{% endfor %}
  			{% endif %}
        </tbody>
  		</table>
    </div>
		<br/>
    	<hr />
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
    $('.datatable').DataTable();
    $('.dataTables_length').addClass('bs-select');
    });
    </script>
	</body>
</html>
<!-- end of book2.html -->