<!-- Type in the following code and save it in the file "Titles.html" inside the folder "templates" -->

<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">

	    <title>BOOKS</title>
	    

	    <!-- Bootstrap core CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    		<a class="navbar-brand" href="{{url_for('index')}}">IBDB</a>
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>

      		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-4">
		          <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
          		  </li>
          		  <li class="nav-item active">
            		<a class="nav-link" href="{{url_for('Titles')}}">Books<span class="sr-only">(current)</span></a>
          		  </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Authors')}}">Authors</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('Publishers')}}">Publishers</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{{url_for('About')}}">About</a>
		          </li>
		        </ul>
      		</div>
    	</nav>
    	<nav aria-label="...">
		  <ul class="pagination">
		    <li class="page-item disabled">
		      <a class="page-link" href="#" tabindex="-1">Previous</a>
		    </li>
		    <li class="page-item"><a class="page-link" href="#">1</a></li>
		    <li class="page-item active">
		      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item">
		      <a class="page-link" href="#">Next</a>
		    </li>
		  </ul>
		</nav>
		<h1>Books</h1>
		SELECT book from bookdb

    	<table  BORDER="2"; align = "center">
			<tr>                <!-- table title should be insides <tr> </tr> tags -->
				<th COLSPAN="9"> 
			 	<h2>Table of Books</h2>
				</th>
			</tr>
			<col width = "300">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<col width = "175">
			<tr> 
		  		<th>Title</th>  
		  		<th>Author</th>
		  		<th>Publisher</th>
		  		<th>Publication Date</th>
		  		<th>ISBN</th>
		  		<th>Google ID</th>
			</tr> 
			<tr>
				<th><a href="{{url_for('Foundation')}}">Foundation</a> </th>
		  		<th><a href="{{url_for('IsaacAsimov')}}">Isaac Asimov</a></th>
		  		<th><a href="{{url_for('BantamSpectra')}}">Bantam Spectra</a></th>
		  		<th>06/01/2004</th>
		  		<th>055390034X</th>
		  		<th>IwywDY4P6gsC</th>
			</tr>
			<tr>     
				<th><a href="{{url_for('HarryPotterandtheSorcerersStone')}}">Harry Potter and the Sorcerer's Stone</a> </th>
		  		<th><a href="{{url_for('JKRowling')}}">J. K. Rowling</a></th> 
				<th><a href="{{url_for('Pottermore')}}">Pottermore</a></th>
				<th>12/08/2015</th>
		  		<th>9781781100486</th>
		  		<th>wrOQLV6xB-wC</th>
			</tr>
			<tr>
				<th><a href="{{url_for('TheRestaurantattheEndoftheUniverse')}}">The Restaurant at the End of the Universe</a> </th>
				<th><a href="{{url_for('DouglasAdams')}}">Douglas Adams</a></th>
				<th><a href="{{url_for('DelReyBooks')}}">Del Rey Books</a></th>
				<th>12/24/2008</th>
		  		<th>0307497569</th>
		  		<th>DQ-wif7eBJoC</th>
			</tr>   

		</table>
		<br/>
    	<hr />
		<center><a href="{{url_for('index')}}">Main Menu</a> <a href="{{url_for('Authors')}}">Authors</a> <a href="{{url_for('Publishers')}}">Publishers</a> <a href="{{url_for('About')}}">About</a></center><br/>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  	</body>
</html>
 <!-- end of Titles.html -->
